# write a python to remove duplicates from a list

In [2]:
list1=[1,4,7,3,7,8,9,20,3,9,3,1,7]
list2=set(list1)
print(list(list2))

[1, 3, 4, 7, 8, 9, 20]

# write a python program to combine two dictionary adding values for common keys
d1={'a':100,'b':200,'c':300}
d2={'a':100,'b':200,'d':400}
sample ouput:Counter({'a':400,'b':400,'c':300,'d':400})

In [46]:
from collections import Counter
dict1={'a':100,'b':200,'c':300}
dict2={'a':300,'b':200,'d':400}
dict3=Counter(dict1)+Counter(dict2)
dict3

Counter({'a': 400, 'b': 400, 'c': 300, 'd': 400})

# write a python program to convert a touple in string

In [49]:
tuple1=('a','n','a','m','i','k','a')
str=''
for i in tuple1:
    str=str+i
print(str)

anamika

# write a python program to remove items(s) from set

In [53]:
set1={"anamika","arya","kumkum","sneha","anjali"}
set1.remove("sneha")
set1

{'anamika', 'anjali', 'arya', 'kumkum'}

# write a python program  to create a symmetric difference

In [60]:
set1={1,4,6,7,89,56,6,2,87}
set2={4,5,9,7,5,65,78,98,2}
print("union",set1.union(set2))
print("intersection",set1.intersection(set2))
print("symmetric_difference",set1.symmetric_difference(set2))

union {1, 2, 65, 4, 98, 6, 7, 5, 9, 78, 87, 56, 89}
intersection {2, 4, 7}
symmetric_difference {65, 98, 5, 1, 6, 9, 78, 87, 56, 89}

# write a python program to construct the following pattern,using a nested for loop
*

*

*

*

In [65]:
for i in range(5):
    print("*")
    for j in range(3):
        print("  ")

*



*



*



*



*

# write a python program to  get the fibbonacci series between 0 to 50

In [99]:
def fibonacci():
    i=0
    j=1
    n=50
    print(i)
    print(j)
    for x in range(1,n):
        k=i+j
        i=j
        j=k
        if(j<50):
            print(j,"")

In [100]:
fibonacci()

0
1
1
2
3
5
8
13
21
34